<div class="row">
  <div class="form span4">
    <%= simple_form_for :user, :url => users_path, method: 'POST' do |f| %>
        <%= f.input :username %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.button :submit, value: 'Create Account'%>
    <% end %>
  </div>
</div>
